* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home__hero {
  width: 100%;
  height: 400px;
  background: url("../../images/header-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__hero > h1 {
  margin-bottom: 40px;
  color: white;
  font-family: "Roboto condensed", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 50px;
}

.home__hero select {
  height: 35px;
  margin-right: 10px;
  background-color: #404040;
  color: blue;
  border: none;
  border-radius: 5px;
}

.home__hero input {
  width: 600px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
  padding: 0 10px;
}
.home__hero button {
  width: 100px;
  height: 60px;
  color: white;
  background-color: #404040;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: "Roboto condensed";
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.home__hero button:hover {
  background-color: white;
  color: #275a53;
  border: 1px solid #275a53;
}

/*services styling*/

.home__services {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home__service__item {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  padding: 20px 0;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}
.home__service__item:hover {
  transform:scale(1);
}
.home__service__item img {
   width: 200px;
   object-fit: contain;
}
.home__service__item:hover button {
   background-color: #e2d562;
   color: white;
}
.home__service__item h3 {
   font-family: "Roboto condensed",sans-serif;
   font-weight: 400;
}
.home__service__item p {
   font-family: "Montserrat",sans-serif;
   font-weight: 600;
}

.home__service__item button {
   background-color: white;
   border-radius: 5px;
   width: 150px;
   height: 50px;
   color: #000;
   font-family: "Montserrat",sans-serif;
   font-weight: bold;
   cursor: pointer;
   border: none;
   outline: none;
   font-weight: bold;
   border: 1px solid #e2d562;
}
.home__service__item__p_container {
   width: 220px;
   text-align: center;
}
@media screen and (max-width: 700px) {
  .home__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home__hero button {
    margin: 10px auto 0 150px;
  }
  .home__hero input {
    width: 80%;
    margin-left: 20px;
  }

  .home__hero > h1 {
    text-align: center;
  }
  .home__hero select {
    margin: 10px auto 10px 150px;
  }
}
