.headlines p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0015em;
    color: #275A53;
    margin-top: 28px;
    margin-bottom: 3px;
}
.headlines h2{
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
    letter-spacing: 0.0015em;
    color: #16322E;
    margin-bottom: 55px;
}
.hotel-card .card-body{
    padding: 18px 22px;
}
.hotel-card{
    border-radius: 0px;
    margin-bottom: 29px;
}
.hotel-card h4{
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 0.0015em;
    color: #275A53;
    margin-top: 10px;
}
.mt_40{
    margin-top: 40px;
}
.hotel-card .card-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.0015em;
    color: #16322E;
    margin-bottom: 8px;
}
.hotel-card p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.0015em;
    color: #747474;
}

.search__container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f2fafa;
}
.search__container__search {
     width: 40%;
     margin: 0 auto;
     padding: 10px 5px;
     background-color: white;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
     border-radius: 5px;
}
.search__container__search input {
    width: 95%;
    border: none;
    margin-left: 10px;
}

.search__container__search input:focus {
    outline: none;
    border: none;
}


@media screen and ( max-width: 700px) {
    .search__container, .search__container__search  {
        width: 100%;
    }
    .search__container__search input {
        width: 80%;
    }  
}